<div class="container">
    <div class="mt-2">
        <mat-stepper [linear]="isLinear"  #stepper>

            <mat-step [stepControl]="FormGroup1">
                <ng-template matStepLabel>Release</ng-template>
                <form [formGroup]="FormGroup1" class="mt-4">

                    <mat-form-field class="example-full-width">
                        <mat-label>Nom Release</mat-label>
                        <input matInput placeholder="Projet 1" formControlName="nomRelease" required>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Choisir Date Livraison</mat-label>
                        <input matInput [matDatepicker]="picker1" value="" formControlName="dateLivraison">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Choisir Date Prévision</mat-label>
                        <input matInput [matDatepicker]="picker2" value="" formControlName="datePrevision">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Choisir Date Réelle</mat-label>
                        <input matInput [matDatepicker]="picker3" value="" formControlName="dateReelle">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                </form>
                <mat-toolbar style="background-color: white;">
                    <button mat-fab extended  color="accent" aria-label="Example icon-button with share icon" mat-dialog-close>
                        <mat-icon>cancel</mat-icon>Close
                    </button>
                    |
                    <span class="example-spacer"></span>
                    <button mat-fab extended  color="accent" aria-label="Example icon-button with share icon" (click)="addManager()">
                        Envoyer<mat-icon>check</mat-icon>
                    </button>
                </mat-toolbar>
            </mat-step>
            
        </mat-stepper>
    </div>
</div>